.game-body {
  text-align: center;
  height: 600px;
  color: #fffae1;
}

.modes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
}

.modes > span {
  cursor: pointer;
}

.game-header {
  margin: 4rem;
}

.game-score-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50rem;
  margin: auto;
}

.game-message-section {
  line-height: 30px;
}

#message {
  line-height: 25px;
}

.game-items-section ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 3rem;
}

.game-items-section ul li {
  margin-bottom: 1rem;
}

.game-container {
  display: block;
  width: 100%;
  margin: auto;
}

.game-btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-game-over {
  background-color: red;
  opacity: 0.8;
}

.game-red {
  background-color: red;
}

.game-green {
  background-color: green;
}

.game-blue {
  background-color: blue;
}

.game-yellow {
  background-color: yellow;
}

.game-brown {
  background-color: brown;
}

.game-pink {
  background-color: pink;
}

.game-pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  width: 200px;
  height: 200px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

#navigate-btn {
  border-radius: 5px;
  text-decoration: none;
  background-color: #16bcdd;
  padding: 10px 20px;
}

#navigate-btn:hover {
  background-color: #011f3f;
  box-shadow: 5px 5px 20px 0px white;
}
